.container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.container__inner {
    flex: 1;

    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.game_container {
    width: 100%;
    height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    background: linear-gradient(
            to right bottom,
            rgba(119,   129, 125, 0.1),
            var(--color-primary-dark)),
    url('../../images/wood.jpeg');
}

.game {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    width: 95%;
    height: calc(100vh - 10rem);
    align-items: center;
    justify-content: space-around;
    min-height: 60rem;
}

.user {
    /*background-color: #2998ff;*/
    border: 2px solid white;
    border-radius: 1rem;
    width: 20rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user1 {
    height: 100%;
    margin-right: auto;
}

.user2 {
    height: 100%;
    margin-left: auto;
}

.board {
    width: 110rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boardData {
    height: 3rem;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
}
.boardBoard {
    margin-top: 3rem;
}

.turn {
    margin-left: 5rem;
}


.popup {
    font-size: 1rem;
    text-align: center;
}

.footer {
    font-size: 2rem;
    margin-top: auto;
}

.endGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100rem;
}

.endHeader {
    margin-top: 10rem;
    font-size: 4rem;
    text-transform: uppercase;
}

.endWinner {
    margin-top: 5rem;
    font-size: 5rem;
    font-weight: bolder;
}

.endScore {
    margin-top: 5rem;
    text-align: center;
    text-transform: uppercase;
}

.endScoreHeader {
    font-size: 2.5rem;
}

.endScoreValue {
    font-size: 3rem;
}

.endCountOfTurns {
    margin-top: 5rem;
    text-align: center;
    text-transform: uppercase;
}

.endTurnsHeader {
    font-size: 2.5rem;
}

.endTurnsValue {
    font-size: 3rem;
}

.endMessage {
    margin-top: 5rem;
    font-size: 3rem;
    text-transform: uppercase;
    color: orange;
}
