@import '../../css/variables.css';

.page_container {
    height: 100vh;
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    color: var(--color-white);
    font-size: large;
}

.page_container_header {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: left;
    flex-grow: 1;
}

.page_label {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    backface-visibility: hidden;

    font-size: 4rem;

    font-weight: 700;
    letter-spacing: 1.5rem;
}

.page_container_about {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    text-transform: uppercase;
    font-size: 3rem;

    font-weight: 400;
    letter-spacing: 0.5rem;
}

.form {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    flex-grow: 4;
}

.form__container {
    height: 100%;
    width: 100%;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form_field__container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex: 0 1 20%;
}

.form__label {
    display: block;
    margin-bottom: .5rem;
    font-size: 2rem;
}

.form__text {
    width: 30rem;
    height: 3.5rem;
    padding-left: 10px;
    margin-top: 2rem;

    color: var(--color-grey-dark-3);
    font-size: 2rem;
}

.form__submit {
    width: 15rem;
    flex: 0 1 5rem;

    border-radius: 30px;
    background-color: var(--color-white);
    border: none;
    cursor: pointer;

    text-transform: uppercase;
    font-size: var(--default-font-size);

    transition: all .2s;
}

.form__submit:hover {
    transform: translateY(-3%);
    box-shadow: 0 1rem 2rem rgba(var(--color-black), 0.2);
}

.form__submit:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.form__submit:active,
.form__submit:focus {
    outline: none;
    transform: translateY(-1%);
    box-shadow: 0 .5rem 1rem rgba(var(--color-black), 0.2);
}

.form__submit::after {
    background-color: var(--color-white);
}

.form__field_error {
    font-size: 1.7rem;
    margin-top: 1rem;

    color: var(--color-error);
    height: 4rem;
}

.form__back_error {
    font-size: 1.7rem;

    color: var(--color-error);
    height: 4rem;
}
